* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top__container {
  position: relative;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.top__container button {
  border: none;
  background: none;
}
.top__container .logo {
  display: flex;
  justify-content: space-between;
  width: 111px;
  padding-top: 18px;
  padding-bottom: 19px;
}
.top__container .head__buttons {
  display: flex;
  justify-content: space-between;
  width: 159px;
  padding-top: 26px;
  padding-bottom: 20px;
}
.top__container .head__buttons .bar {
  margin-top: 4px;
}
.top__container .head__buttons .prof {
  margin-right: 22px;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}
.top__title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-right: 365px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}
.top .title {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top .subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top .colored__text {
  color: #F16D7F;
}

.main-block {
  flex-wrap: wrap;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.container .top__cards {
  display: grid;
  height: 470px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 65px;
}
.container .top__cards .top__card {
  position: relative;
  text-align: center;
}
.container .top__cards .top__card__big {
  grid-area: 2/1/3/4;
}
.container .top__cards .top__card .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .top__cards .top__card .centered h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.container .top__cards .top__card .centered h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  padding-right: 25px;
}

.menu__box {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 75px;
  right: -200%;
  width: 232px;
  height: 634px;
  margin: 0;
  padding-top: 32px;
  padding-left: 33px;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 10;
}

.menu__box h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu__box h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-top: 20px;
}

.menu__item {
  display: block;
  padding-left: 20px;
  padding-top: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  transition-duration: 0.25s;
}

.top-head {
  background-color: #F8F3F4;
  position: relative;
  border-bottom: #EAEAEA 1px;
}
.top-head__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}
.top-head__box h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}
.top-head__breadcrumbs {
  list-style-type: none;
  display: flex;
  gap: 10px;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.top-head__breadcrumbs a:hover {
  color: #F16D7F;
}
.top-head__title {
  color: #F16D7F;
  font-weight: bold;
}

.block {
  display: flex;
  height: 68px;
}
.block .filter-sort {
  display: flex;
  height: 132px;
  position: relative;
  gap: 30px;
  padding-top: 39px;
}
.block .filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
}
.block .filter__content {
  background-color: #fff;
  padding: 0px 16px 16px 16px;
}
.block .filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  animation: slide 0.6s;
  z-index: 10;
}
.block .filter[open] .filter__heading {
  color: #F16D7F;
}
.block .filter[open] path {
  fill: #F16D7F;
}
.block .filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.block .filter__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s;
}
.block .filter__heading:hover {
  color: #F16D7F;
  cursor: pointer;
}
.block .filter__summary:hover path {
  fill: #F16D7F;
}
.block .filter__item {
  margin-top: 16px;
}
.block .filter__head {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.block .filter__item[open] .filter__head {
  color: #F16D7F;
}
.block .filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.block .filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.block .filter__link:hover {
  color: #F16D7F;
}
.block .sort__wrapper {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 51px;
  z-index: 10;
}
.block .sort__wrapper form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  padding: 5px;
  position: absolute;
  gap: 10px;
  margin-top: 5px;
}
.block .sort__wrapper form div {
  display: flex;
  gap: 10px;
}
.block .sort__wrapper summary {
  display: block;
}
.block .sort__wrapper summary::-webkit-details-marker {
  display: none;
}
.block .sort__wrapper summary::after {
  content: url("../images/arrow.svg");
  padding-left: 10px;
}

.swiper {
  width: 100%;
  height: 774px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  height: 734px;
  object-fit: cover;
}

.box-pag {
  width: 246px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 13px;
  margin-bottom: 96px;
}
.pagination a {
  color: #C4C4C4;
  float: left;
  padding: 12px 13px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.pagination a.active {
  background-color: white;
  color: #F16D7F;
}
.pagination a:hover:not(.active) {
  color: blue;
}

.main-product {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  background: #FFF;
  position: relative;
  z-index: 20;
}
.main-product__info {
  margin-top: -65px;
  padding: 65px 293px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-product__info h4 {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
}
.main-product__info span {
  width: 63px;
  border: 2px solid #F16D7F;
  margin: 12.1px 0;
}
.main-product__info h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
}
.main-product__info__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5E5E5E;
  margin: 48.41px 0 32.27px;
}
.main-product__info__price {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 65px;
  border-bottom: #EAEAEA 20px;
}
.main-product__info__features {
  margin: 130.09px 0 48.91px;
  display: flex;
  gap: 42px;
}
.main-product__info__features button {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  background-color: white;
  border: none;
  cursor: pointer;
}
.main-product__info__button {
  padding: 14.62px 57px 8.57px 24px;
  display: flex;
  align-items: center;
  gap: 22.91px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.main-product__info__button:hover {
  background-color: #F16D7F;
  color: white;
  transition: 0.3s;
}
.main-product__info__button:hover path {
  fill: white;
}

.products {
  margin-top: 65px;
  margin-bottom: 48px;
}
.products .main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  margin-top: 48px;
}

.product__card {
  display: flex;
  flex-direction: column;
}

.prod__image_cont {
  position: relative;
}

.prod__image_cont:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.prod__image_cont:hover::before {
  background: rgba(58, 56, 56, 0.86);
}

.prod__image_cont img {
  display: block;
}

.prod__image_cont .btn {
  width: 138px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  background: none;
  border: 1px solid #FFFFFF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.prod__image_cont:hover button {
  opacity: 1;
}

.card__text {
  background-color: #f8f8f8;
  padding-left: 16px;
  padding-right: 29px;
}

.card__text h3 {
  padding-top: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__text p {
  margin-top: 12.6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.card__text h4 {
  margin-top: 18px;
  padding-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.all__prod__button {
  margin-top: 48.5px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all__prod__button button {
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: none;
}
.all__prod__button button:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.bottom {
  margin: 0 auto;
  align-items: center;
}
.bottom-plus {
  margin: auto;
  height: 341px;
  background: #222224;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.bottom .plus-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 103px;
  width: 360px;
  height: 133px;
  justify-content: space-between;
}
.bottom .plus-card h2 {
  color: #FBFBFB;
  font-family: "Lato";
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bottom .plus-card p {
  color: #FBFBFB;
  text-align: center;
  font-family: "Lato";
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cart {
  display: flex;
  flex-wrap: nowrap;
}

.under-footer {
  margin: 0 auto;
  align-items: center;
  background-image: url(../images/Layer-41.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.uf {
  background: rgba(244, 244, 244, 0.7);
  height: 448px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 223px;
}

.uf-left {
  width: 360px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile {
  margin-bottom: 30px;
}

.text-l {
  color: #222224;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.uf-right {
  text-align: center;
}

.uf-right h2 {
  color: #222224;
  text-align: center;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.uf-right p {
  color: #222224;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.uf-right form {
  width: 356px;
  height: 49px;
  display: flex;
  justify-content: center;
}

.uf-right input {
  width: 256px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-left: 22px;
  border: none;
}

.uf-right button {
  width: 100px;
  height: 49px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #F16D7F;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  vertical-align: middle;
  padding-left: 15px;
  border: none;
}

.footer {
  display: grid;
  height: 79px;
  margin: 0 auto;
  background-color: #222222;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.footer-nav p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer-nav-icons {
  gap: 7.3px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.footer-nav-icons a {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.footer-nav-icons .ft-icons {
  width: 31px;
  height: 32px;
  background: #FFFFFF;
  color: #000000;
}
.footer-nav-icons .ft-icons:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.main-block {
  display: flex;
  gap: 128px;
}

.registr {
  display: flex;
  flex-wrap: nowrap;
}

.prod-card {
  display: flex;
  height: 306px;
  width: 652px;
  gap: 31px;
  margin-top: 96px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
}
.prod-card .pc-l img {
  height: 306px;
}
.prod-card .pc-r-head {
  display: flex;
  align-items: flex-start;
  gap: 125px;
  margin-bottom: 36px;
}
.prod-card .pc-r-head h3 {
  margin-top: 22px;
  margin-bottom: 42px;
  color: #222;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.prod-card .pc-r-head button {
  margin-top: 27px;
  border: none;
  background-color: white;
}
.prod-card .pc-r-head button:hover {
  cursor: pointer;
}
.prod-card .pc-r p {
  margin-bottom: 6px;
  color: #575757;
  font-family: "Lato";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.prod-card .pc-r p span {
  color: #EF5B70;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.prod-card .pc-r-input {
  display: flex;
  gap: 24px;
}
.prod-card .pc-r-input input {
  border: 1px solid rgb(234, 234, 234);
  width: 44px;
  height: 25px;
}

.but-l {
  display: flex;
  width: 652px;
  margin-top: 72px;
  margin-bottom: 128px;
  justify-content: space-between;
}
.but-l button {
  height: 50px;
  padding: 16px 41px 17px 39px;
  color: #000;
  font-size: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}
.but-l button:hover {
  background-color: #F16D7F;
  color: #fff;
  transition: 0.3s;
}

.mr-adress {
  margin-bottom: 57px;
}
.mr-adress h3 {
  margin-top: 113px;
  margin-bottom: 20px;
}
.mr-adress input[type=text],
.mr-adress select {
  width: 360px;
  padding: 13px 17px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.mr-adress input[type=submit] {
  color: #4A4A4A;
  font-family: "Lato";
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #FFFFFF;
  padding: 10px 15px 12px 14px;
  border: 1px solid #A4A4A4;
  cursor: pointer;
}
.mr-adress input[type=submit]:hover {
  background-color: #F16D7F;
  color: #fff;
  transition: 0.3s;
}

.total__price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 42px;
  background-color: #F5F3F3;
}
.total__price-box .price {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 275px;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
}
.total__price-box .subtotal_price {
  display: flex;
  justify-content: space-between;
  text-align: right;
  width: 108px;
}
.total__price-box .subtotal_price .price-text {
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.total__price-box .total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}
.total__price-box .total_price .total-text {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.total__price-box .total_price .total-sum {
  color: #F16D7F;
  font-weight: 700;
}
.total__price-box .checkout_btn {
  padding: 16px 42px;
  background-color: #F16D7F;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 17px;
  transition: all 0.3s;
}
.total__price-box .checkout_btn:hover {
  text-shadow: 1px 1px 2px #000;
  box-shadow: 1px 1px 2px #000;
}

.registration_title {
  color: #222;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}
.registration__window {
  margin-top: 65px;
}
.registration__window input[type=text],
.registration__window select {
  width: 360px;
  padding: 13px 17px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registration__window input[type=text]::placeholder {
  color: #B1B1B1;
  font-family: "Lato";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__gender {
  margin-bottom: 33px;
}
.registration__gender label {
  margin-left: 10px;
  margin-right: 20px;
  color: #000;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__gender .other {
  display: none;
}
.registration__login {
  margin-bottom: 96px;
}
.registration__login input::placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__login input[type=email],
.registration__login select {
  width: 360px;
  padding: 13px 17px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registration__login input[type=password],
.registration__login select {
  width: 360px;
  padding: 13px 17px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registration__login_text {
  width: 360px;
  margin-bottom: 40px;
  color: #B1B1B1;
  font-family: "Lato";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__login input[type=submit] {
  color: #FFF;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #F16D7F;
  padding: 16px 29px 17px 29px;
  border: none;
}
.registration__login input[type=submit]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loyality {
  margin-top: 64px;
}
.loyality__text {
  margin-bottom: 21px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.loyality__text_plus {
  margin-bottom: 16px;
}
.loyality .tick {
  margin-right: 23px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .center {
    width: 100%;
  }
  .top__container {
    width: 93%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .top {
    padding-right: 33px;
    margin-bottom: 65px;
  }
  .top .photo {
    min-width: 48%;
  }
  .top .title {
    font-size: 43px;
    min-width: 283px;
  }
  .top .subtitle {
    font-size: 23px;
  }
  .top__title {
    margin-right: 0px;
  }
  .container {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .container .top__cards {
    height: 303px;
    gap: 20px;
  }
  .all__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0px;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .all__prod__button {
    margin-top: 33px;
    margin-bottom: 65px;
  }
  .top-head {
    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog {
    margin-top: 0px;
    display: flex;
    gap: 40px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .filter-sort {
    height: none;
    justify-content: space-between;
    padding-right: 16px;
  }
  .ct {
    margin-top: 0px;
  }
  .card-4 {
    display: none;
  }
  .pagination {
    margin-bottom: 20px;
  }
  .swiper {
    width: 768px;
    height: 624px;
  }
  .swiper-slide img {
    height: 565px;
  }
  .main-product__info__text {
    width: 555px;
  }
  .main-product__info__features {
    margin: 65px 0 48px 0;
  }
  .main-product__info__button {
    margin-bottom: 64px;
  }
  .pr {
    margin-top: 129px;
    margin-bottom: 129px;
  }
  .product__card_3 {
    display: none;
  }
  .cart {
    display: grid;
    justify-content: center;
    gap: 0;
  }
  .cart .main-left {
    display: grid;
    justify-content: center;
  }
  .cart .main-left .but-l {
    margin-bottom: 64px;
    justify-content: space-around;
  }
  .cart .main-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart .main-right .mr-adress {
    width: 48%;
  }
  .cart .main-right .mr-adress h3 {
    margin-top: 0;
  }
  .cart .main-right .total__price-box {
    width: 48%;
    margin-top: -25px;
  }
  .registr {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    gap: 22px;
  }
  .loyality {
    margin-top: 40px;
  }
  .loyality__text {
    font-size: 16px;
    width: 354px;
  }
  .loyality__text_plus {
    width: 311px;
  }
  .loyality .titleh3 {
    margin-bottom: 32px;
  }
  .registration__window {
    margin-top: 40px;
  }
  .registration__gender .other {
    display: inline-block;
  }
  .bottom-plus {
    width: 768px;
    height: 610px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 48px;
  }
  .bottom-plus .plus-card {
    width: 768px;
    margin-top: 0px;
  }
  .bottom-plus .plus-card .text-plus {
    width: 360px;
  }
  .under-footer {
    height: 693px;
    width: 768px;
    margin: 0 auto;
    background-size: cover;
  }
  .under-footer .uf {
    height: 693px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .footer-nav {
    width: 768px;
  }
  .footer-nav p {
    margin-left: 32px;
  }
  .footer-nav .footer-nav-icons {
    margin-right: 23px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    width: 100%;
  }
  .top__container {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .top__container .head__buttons {
    padding-right: 16px;
    justify-content: flex-end;
  }
  .top__container .head__buttons button {
    display: none;
  }
  .top-head {
    padding: 24px 24px 49px;
    flex-direction: column;
    gap: 32px;
  }
  .top {
    height: 363px;
  }
  .top__title {
    margin-right: 0;
  }
  .top__title .title {
    font-size: 38px;
  }
  .top__title .subtitle {
    font-size: 20px;
  }
  .top img {
    display: none;
  }
  .container {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .container .top__cards {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    margin: auto;
    margin-top: 64px;
    gap: 32px;
  }
  .container .top__cards .top__card img {
    width: 100%;
  }
  .container .top__cards .top__card__big {
    grid-area: 4/1/5/2;
    height: 111px;
  }
  .container .products .all__cards {
    grid-template-columns: 1fr;
  }
  .container .products .all__cards .product__card img {
    width: 100%;
  }
  .container .products .main__title h3 {
    color: #222;
    font-family: "Lato";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .products .main__title p {
    color: #9F9F9F;
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .products .all__cards {
    grid-template-columns: 1fr;
  }
  .products .all__cards .product__card img {
    width: 100%;
  }
  .top-head {
    padding: 0%;
  }
  .top-head__box {
    flex-direction: column;
    justify-content: center;
  }
  .top-head__box h1 {
    margin-bottom: 32px;
  }
  .main-swipe .swiper {
    height: 624px;
  }
  .main-swipe .swiper-slide img {
    height: 454px;
  }
  .main-swipe .main-product {
    height: 600px;
  }
  .main-swipe .main-product__info__text {
    width: 326px;
  }
  .main-swipe .main-product__info__features {
    margin: 48px 0 64px;
  }
  .main-swipe .main-product__info__features button {
    color: #6F6E6E;
    font-family: "Lato";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main-block {
    gap: 0;
  }
  .main-block .block .filter-sort {
    margin-top: 24px;
    padding-top: 0px;
    height: auto;
  }
  .main-block .block .filter-sort .filter {
    margin-right: 70px;
    width: auto;
  }
  .main-block .block .filter-sort .filter svg {
    width: 37px;
    height: 25px;
  }
  .main-block .block .filter__heading {
    display: none;
  }
  .main-block .block .sort__wrapper {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 42px;
    gap: 24px;
  }
  .main-block .catalog {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .main-block .catalog .all__cards {
    margin-top: 0;
  }
  .main-block .pagination {
    margin-bottom: 64px;
  }
  .main-block {
    flex-direction: column;
  }
  .main-block .main-left {
    display: grid;
    justify-content: center;
  }
  .main-block .main-left .but-l {
    justify-content: space-around;
    width: auto;
    margin-top: 30px;
    margin-bottom: 48px;
  }
  .main-block .main-left .but-l button {
    height: 33px;
    width: 175px;
    font-size: 12px;
    padding: 9px 18px;
  }
  .main-block .main-left .prod-card {
    width: 357px;
    height: 188px;
    margin-top: 32px;
  }
  .main-block .main-left .prod-card .pc-l img {
    height: 188px;
  }
  .main-block .main-left .prod-card .pc-r-head {
    gap: 31px;
    margin-bottom: 0;
  }
  .main-block .main-left .prod-card .pc-r-head h3 {
    width: 143px;
    margin-bottom: 26px;
    font-size: 16px;
    margin-top: 13px;
  }
  .main-block .main-left .prod-card .pc-r-head svg {
    width: 9px;
    height: 11px;
  }
  .main-block .main-left .prod-card .pc-r-head button {
    margin-right: 12px;
    margin-top: 17px;
  }
  .main-block .main-left .prod-card .pc-r p {
    font-size: 14px;
  }
  .main-block .main-left .prod-card .pc-r span {
    font-size: 14px;
  }
  .main-block .main-left .prod-card .pc-r-input {
    gap: 15px;
  }
  .main-block .main-left .prod-card .pc-r-input input {
    width: 24px;
    height: 15px;
  }
  .main-block .main-right {
    padding-left: 2%;
    padding-right: 2%;
  }
  .main-block .main-right .mr-adress {
    margin-bottom: 48px;
  }
  .main-block .main-right .mr-adress h3 {
    margin-top: 0;
  }
  .main-block .main-right .total__price-box {
    margin-bottom: 96px;
  }
  .registr {
    padding-left: 2%;
    padding-right: 2%;
  }
  .registr .main-left .registration__window {
    margin-top: 40px;
  }
  .registr .main-left .registration__login {
    margin-bottom: 0;
  }
  .registr .main-right .loyality {
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .registr .main-right .loyality .loyality__text {
    font-size: 16px;
  }
  .bottom .bottom-plus {
    min-width: 320px;
    height: 610px;
    gap: 46px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .bottom .bottom-plus .plus-card {
    margin-top: 0;
  }
  .under-footer {
    height: 550px;
    min-width: 375px;
  }
  .under-footer .uf {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .under-footer .uf .uf-left {
    width: 341px;
    height: 194px;
    justify-content: space-between;
  }
  .under-footer .uf .uf-left p {
    height: 73px;
    font-size: 18px;
    text-align: center;
  }
  .under-footer .uf .uf-right {
    width: 341px;
    height: 123px;
  }
  .under-footer .uf .uf-right h2 {
    line-height: 36px;
  }
  .under-footer .uf .uf-right p {
    font-size: 14px;
    line-height: 21.45px;
  }
  .under-footer .uf .uf-right form {
    width: 341px;
    height: 47px;
  }
  .under-footer .uf .uf-right input {
    width: 245px;
  }
  .under-footer .uf .uf-right button {
    width: 95.7px;
    height: 47px;
  }
  .footer {
    height: 143px;
    justify-content: center;
  }
  .footer .footer-nav {
    width: 375px;
    height: 143px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer .footer-nav p {
    margin-left: 0px;
    margin-bottom: 9px;
  }
  .footer .footer-nav .footer-nav-icons {
    margin-right: 0px;
    margin-top: 43px;
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=style.css.map */